* {
    margin: 0;
    padding: 0;
}

#app {
    position: relative;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

.bold-text {
    font-weight: bold;
}

.cart-success {
    width: 100%;
    background-color: #00cc00;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
}

.wrap-success {
    position: relative;
    padding-top: 0;
    padding-bottom: 20px;
    animation: addToCartStatus 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.cart-status-wrap {
    width: 340px;
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    height: 0;
    overflow: visible;
    margin: auto;
    z-index: 10;
}

@keyframes addToCartStatus {
    0% {
        padding-top: 0;
        opacity: 0;
    }
    20% {
        padding-top: 20px;
        padding-bottom: 0;
        opacity: 1;
    }
    80% {
        padding-top: 20px;
        padding-bottom: 0;
        opacity: 1;
    }
    100% {
        padding-top: 20px;
        padding-bottom: 0;
        opacity: 0;
    }
}

.scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* Всплывающее окно */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 4;
    overflow: auto;
}

.gallery {
    position: relative;
    max-width: 600px;
    min-height: 200px;
    box-sizing: border-box;
    margin: 10% auto;
    background: transparent;
    z-index: 5;
}

.gallery-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.gallery-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
    background-image: url('../../assets/icons/close.svg');;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

/* Всплывающее окно, конец */