* {
    margin: 0;
    padding: 0;
}

#app {
    position: relative;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

.bold-text {
    font-weight: bold;
}

.cart-success {
    width: 100%;
    background-color: #00cc00;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
}

.wrap-success {
    position: relative;
    padding-top: 0;
    padding-bottom: 20px;
    animation: addToCartStatus 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.cart-status-wrap {
    width: 340px;
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    height: 0;
    overflow: visible;
    margin: auto;
    z-index: 10;
}

@keyframes addToCartStatus {
    0% {
        padding-top: 0;
        opacity: 0;
    }
    20% {
        padding-top: 20px;
        padding-bottom: 0;
        opacity: 1;
    }
    80% {
        padding-top: 20px;
        padding-bottom: 0;
        opacity: 1;
    }
    100% {
        padding-top: 20px;
        padding-bottom: 0;
        opacity: 0;
    }
}

.scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* Всплывающее окно */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 4;
    overflow: auto;
}

.gallery {
    position: relative;
    max-width: 600px;
    min-height: 200px;
    box-sizing: border-box;
    margin: 10% auto;
    background: transparent;
    z-index: 5;
}

.gallery-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.gallery-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
    background-image: url('../../assets/icons/close.svg');;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

/* Всплывающее окно, конец */

/* Каталог */

.catalog-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.catalog-dashboard {
    width: 180px;
}

.catalog {
    position: relative;
    width: calc(100% - 200px);
}
.catalog-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.has-inside-content {
    position: relative;
    box-sizing: border-box;
}

.preloader-wrapper {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.catalog-section::after {
  content: "";
  flex-basis: 250px;
}

.filters-text {
    font-weight: bold;
}

.clear-text {
    text-decoration: underline;
    cursor: pointer;
}

.filters-title-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}

.filters-section {
    border-top: 1px solid #CED0D2;
    cursor: pointer;
}
.filters-section__wrapper {
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}

.filters-section__title {
    display: block;
    font-size: 18px;
    line-height: 24px;
    user-select: none;
    cursor: pointer;
}

.bottom_pic {
    display: block;
    position: absolute;
    top: 18px;
    margin: auto;
    right: 0;
    width: 18px;
    cursor: pointer;
    user-select: none;
}

.filter-items-list {
    display: none;
    list-style-type: none;
}

.opened-list .filter-items-list {
    display: block!important;
}

.opened-list .bottom_pic {
    transform: rotate(180deg);
}

.filter-item {
    list-style-type: none;
}

.filter-link {
    display: block;
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 10px;
    user-select: none;
    color: #000;
}

.filter-link-choosen {
    display: block;
    background: #f6f6f6;
    border-radius: 3px;
    background-image: url('../../assets/icons/exit.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 96% center;
    cursor: pointer;
}

.category-link-choosen {
    display: block;
    background: #f6f6f6;
    border-radius: 3px;
    cursor: pointer;
}

.choosen-filters .filter-link-choosen {
    background-color: #dbddde;
}

/* Каталог, конец */